<?xml version="1.0"?>
<configuration>
	<appSettings>
		<add key="disableLuceneLocks" value="true"/>
	</appSettings>
	<system.web>
		<httpRuntime executionTimeout="5" maxRequestLength="20480" useFullyQualifiedRedirectUrl="true" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="200"/>
		<compilation defaultLanguage="C#" debug="true"/>
		<pages enableViewState="false" validateRequest="false"/>
		<trace enabled="false" requestLimit="100" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
		<customErrors mode="RemoteOnly" defaultRedirect="index.aspx"/>
	</system.web>
</configuration>
